*{
font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
background: #d3e7f4;

}
.icono {
width: 200px;
}

.nav-menu a {
text-decoration: none;
color: black;
font-weight: 600;
margin: 0 10px;
transition: .3s;
}

.logo-principal {
width: 400px;
}

.titulo {
font-size: 22px;
color: #333;
}

.texto {
width: 88%;
margin: auto;
text-align: justify;
line-height: 1.6;
color: #333;
}

.carousel-inner img {
max-height: 530px;
object-fit: cover;
}

.servicios-texto {
opacity: .7;
font-size: 14px;
}

.titulo-info {
font-size: 24px;
font-weight: bold;
}

.info-img {
width: 50%;
text-align: justify;
border-radius: 10px;
margin-top: 10px;
 display: block;
    margin-left: auto;
    margin-right: auto;
}

.info-card {
background: #eaf3ff;
border: 1px solid #b8cee4;
padding: 14px;
margin-top: 12px;
border-radius: 10px;
font-size: 15px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 10px 10px;
    text-align: center;
    margin-top: 40px;
}

.footer h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.footer-icons img {
    width: 30px;
    transition: transform 0.2s ease;
}

.footer p {
    font-size: 20px;
    opacity: 0.8;
}


body{
    background-color: #e6f5ff;
}

header{
    background-color: #bae9f0;
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 120px; 
    position: relative;
}

header .logo {
    height: 100%;  
    width: auto;
    position: absolute;
    left: 0;
}

nav ul{
list-style: none;
display: flex;
}

nav ul li{
display:  inline;
margin: 0 15px;
}

nav ul li a{
color: black;
text-decoration: none;
}

#Personal{
text-align: center;
}

#Personal ul{
    text-align: left;
    display: inline-block;
}

#carrusel{
    max-width: 2000px;
    object-fit: cover;
    width: 100%; 
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.carrusel-contenedor {
    max-width: 700px;  
    margin: 0 auto;     
    background: transparent;
}

#carrusel_2 .carousel-item img {
    width: 100%;
    height: auto;       
    object-fit: contain;
    background-color: transparent;
}

h1, h2, h3, h6{
    text-align: center;
}

#icono{
    height: auto;
    width: 70px;
}

.container_location{
    position: relative;
    text-align: center;
    background-color: #e6f5ff;
    max-width: 1100px;
    margin: 0 auto;
}

.texto_location{
    max-width: 350px;
    margin:0 auto;
}
.texto{
position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 6px black;
    text-align: center;
    width: 90%;
}

.col-md {
    position: relative;
}
.promo-img {
    width: 100%;          
    height: 300px;        
    object-fit: cover;
    position: relative; 
}

.descuentos ul li{
color: black;
list-style: none;
text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#question-list li {
  padding: 8px;
  background: #eee;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
#formulario img{
    height: auto;
    width: 12%;
    border-radius: 10%;
    transition: 0.8s;
}

#formulario img:hover{
    transform:translateY(-10px)
}

#formulario div{
    text-align: center;
}
p{
    text-align: center;
}

#descuento {
    display: block;
    margin: 20px auto;     
    width: 80%;
    max-width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.regreso{
    display: inline-block;
    margin-top: 50;
    padding: 12px 30px;
    background-color: #e95d8a;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}

/* Reglas */
@media (max-width: 768px) {
    .box {
        width: 100% !important;  
    }

    .small-box {
        width: 100% !important;  
    }

    .d-flex {
        gap: 20px !important;     
        flex-direction: column;   
        align-items: center;      
    }

    iframe {
        height: 300px !important;
    }
}

@media (max-width: 576px) {
    .carousel-item img {
        height: 200px;  
        object-fit: cover;
    }
}

@media (max-width: 600px) {
    .regreso {
        display: block;
        margin: 20px auto;
        width: 70%; 
        text-align: center;
        padding: 12px 0;
    }
}
